LOAD_BASE_URL=http://127.0.0.1:8014
LOAD_PROFILE=load
LOAD_USERS=1000
LOAD_DURATION_SECONDS=60
LOAD_WRITE_RATIO=0.10
LOAD_REQUEST_TIMEOUT_SECONDS=30
LOAD_CONNECT_TIMEOUT_SECONDS=10
LOAD_MAX_ERROR_RATE_PCT=2
LOAD_MAX_P95_MS=2500
LOAD_MAX_P99_MS=6000
LOAD_MIN_SUCCESS_RPS=75
LOAD_ALLOW_WRITES=false
QA_ISOLATED_STATE=false
QA_CONFIRM_WRITE_LOAD=
MARKET_MAX_RESPONSE_MS=1000
MARKET_MAX_DATA_AGE_SECONDS=2
MARKET_POLL_INTERVAL_SECONDS=1
MARKET_VALIDATION_DURATION_SECONDS=60
FRONTEND_URL=http://127.0.0.1:3000
UI_MAX_PAGE_LOAD_MS=2500
UI_MAX_TAB_RESPONSE_MS=500
UI_ITERATIONS=5
SWING_STRATEGY_AUTHORITY=V2
SWING_V2_ENABLED=true
SWING_V2_MODE=PAPER
